.button {
    width: 200px;
    height: 48px;
    flex-shrink: 0;
    border-radius: 4px;
    border: unset;
    background: #4b72c2;
    color: #fff;
    font-family: Fira Code;
    font-size: 16px;
    cursor: pointer;
  }
