.heading-wrapper {
  margin-bottom: 50px;
  display: flex;
  flex-direction: column;
  gap: 13px;
}

.heading__title {
  color: #fff;
  font-size: 32px;
  font-weight: 700;
}

.heading__subtitle {
  color: #7f7f7f;
  font-size: 18px;
}